* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c65ad;
  padding: 0 25px;
}
.navigations .brand img {
  width: 70px;
}
.navigations nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  color: #fff;
}

.payment-container .heading {
  text-align: center;
  padding: 50px 0 0 0;
  font-weight: 600;
}

.payment-details{
  display: flex;
  height: 80vh;
  justify-content: flex-end;
  align-items: center;
  padding: 0 40px;
}
.order-summery{
  max-height: 400px;
  overflow-y: auto;
}

.payment-details .order-details{
  padding: 20px;
  background-color: #004e92;
  color: #fff;
  border-radius: 10px;
}

.payment-title{
    padding: 5px;
    margin-bottom: 10px;
    background: rgba(256,256,256,0.3);
    border-radius: 5px;
    font-size: 18px;
}

.cards-container .card-details{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  border-bottom: 2px solid #b1b1b1;
  margin-bottom: 10px;
}
.cards-container .card-details:last-child{
  margin-bottom: 0;
}

.card-details .amount{
  font-size: 18px;
  font-weight: 600;
}


.cards-container .crd .card-name{
  font-size: 18px;
  font-weight: 600;
  /* color: #000; */
  margin: 0;
}

.cards-container .crd .card-number{
padding: 0;
margin: 0;
font-size: 10px;
columns: #c1c1c1;
}

.payment-container .payment-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-right: 238px;
  /* align-items: center; */
  /* padding: 65px; */
}
.payment-container .payment-options .payment {
  display: flex;
  gap: 20px;
}
.payment-container .payment-options .payment .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 65px;
  box-shadow: 4px 4px 8px 0px #bdc8c5;
  background: linear-gradient(45deg, #000428, #004e92);
  transition: 0.1s ease-in-out;
  border-radius: 10px;
  color: #fff;
}
.payment-container .payment-options .payment .card .fa-solid {
  font-size: 40px;
}
.payment-container .payment-options .payment .card p {
  font-size: 12px;
  margin-top: 20px;
}
.payment-container .payment-options .payment .card:hover {
  transform: scale(1.1);
  filter: opacity(0.8);
}
.payment-container .payment-options .balance {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(280deg, #3a7bd5, #3a6073);
  min-width: 32%;
  padding: 10px;
  color: #fff;
  box-shadow: 4px 4px 8px 0px #bdc8c5;
  border-radius: 10px;
}
.payment-container .payment-options .balance p {
  margin-bottom: 0px;
}

.input-wrapper {
  width: 75%;
  margin: auto;
  padding: 8px;
  background: linear-gradient(30deg, #f1f2f8, #b6bbbf);
  color: #000;
  box-shadow: 0 0 8px #747e89;
  border-radius: 5px !important;
}
.input-wrapper .lable {
  font-weight: 500;
}
.input-wrapper .amount {
  width: 50%;
  display: flex;
  font-weight: 600;
}
.input-wrapper .amount input {
  background-color: #dedfe4;
  border: none;
  border-radius: 2px;
  outline: none;
  padding-left: 5px;
  font-weight: 600;
  width: 80%;
  margin-left: 10px;
}

.btn-pay {
  padding: 5px 30px;
  outline: none;
  border: none;
  background-color: rgb(167, 230, 153);
  border-radius: 5px;
  box-shadow: 0 0 5px lightslategray;
}

.modal-dialog {
  top: 30% !important;
}/*# sourceMappingURL=payment.css.map */